<%- include("header") -%>

<h3>This is the about page.</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vel cum nam in repellat, quisquam provident, voluptatum, minima necessitatibus corporis non! Illo, fugit asperiores? Aliquid est architecto quibusdam iste cumque facilis incidunt.</p>

<%- include("footer") -%>
